html {
    --scaffold-layout-xl-max-width: 1200px;
    --scaffold-layout-lg-max-width: 860px;
    --scaffold-layout-md-max-width: 768px;
    --scaffold-layout-none-max-width: 576px;
    --corner-radius-medium: 0.5rem;
    --scaffold-layout-gutter: .9rem;
}