@keyframes ldioOtyawnoc0f {
    0% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

.contentLoading {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.ldioOtyawnoc0f div {
    left: 23.88px;
    top: -0.04px;
    position: absolute;
    animation: ldioOtyawnoc0f linear 1.075268817204301s infinite;
    background: #605f5f;
    width: 6.24px;
    height: 12.48px;
    border-radius: 3.12px / 6.24px;
    transform-origin: 3.12px 27.04px;
}

.ldioOtyawnoc0f div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -0.985663082437276s;
    background: #605f5f;
}

.ldioOtyawnoc0f div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -0.8960573476702509s;
    background: #605f5f;
}

.ldioOtyawnoc0f div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.8064516129032258s;
    background: #605f5f;
}

.ldioOtyawnoc0f div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.7168458781362007s;
    background: #605f5f;
}

.ldioOtyawnoc0f div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.6272401433691757s;
    background: #605f5f;
}

.ldioOtyawnoc0f div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.5376344086021505s;
    background: #605f5f;
}

.ldioOtyawnoc0f div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.44802867383512546s;
    background: #605f5f;
}

.ldioOtyawnoc0f div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.35842293906810035s;
    background: #605f5f;
}

.ldioOtyawnoc0f div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.26881720430107525s;
    background: #605f5f;
}

.ldioOtyawnoc0f div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.17921146953405018s;
    background: #605f5f;
}

.ldioOtyawnoc0f div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.08960573476702509s;
    background: #605f5f;
}

.ldioOtyawnoc0f div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
    background: #605f5f;
}

.loadingioSpinnerSpinnerKqdmiohtz4 {
    width: 45px;
    height: 45px;
    display: inline-block;
    overflow: hidden;
}

.ldioOtyawnoc0f {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(.8);
    backface-visibility: hidden;
    transform-origin: 0 0;
    /* see note above */
}

.ldioOtyawnoc0f div {
    box-sizing: content-box;
}